{% extends 'base.html' %}
{% block title %}{{ hackwon.name }} Detail{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            {% if hackwon.image %}  <!-- 이미지가 있을 경우에만 표시 -->
                <img src="{{ hackwon.image.url }}" width="100%">
            {% endif %}
        </div>
        <div class="col">
            <h1 class="display-6">{{ hackwon.name }}</h1>
            <p><span class="badge badge-secondary">Region</span> {{ hackwon.region }}</p>
            <p><span class="badge badge-secondary">Tuition</span> {{ hackwon.tuition }}</p>
            <p><span class="badge badge-secondary">Course</span> {{ hackwon.course }}</p>
            {% if hackwon.dormitory_available %}
                <p><span class="badge badge-success">Dormitory Available</span></p>
            {% endif %}
            <!-- 전화번호 추가 -->
            {% if hackwon.phone_number %}
                <p><span class="badge badge-secondary">Phone Number</span> {{ hackwon.phone_number }}</p>
            {% endif %}
            <!-- 지도 표시 (Google Maps 예시)
            {% if hackwon.latitude and hackwon.longitude %}
                <div id="map" style="height: 400px; width: 100%;"></div>
                <script>
                    function initMap() {
                        var location = {lat: {{ hackwon.latitude }}, lng: {{ hackwon.longitude }}};
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 15,
                            center: location
                        });
                        var marker = new google.maps.Marker({
                            position: location,
                            map: map
                        });
                    }
                </script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"></script>
            {% endif %} -->
            <h5><span class="badge badge-secondary">Description</span>{{ hackwon.description|linebreaks }}</h5>
        </div>
    </div>
</div>
{% endblock %}