{% extends "base/base.html" %}

{% load static %}

{% block header %}
<header class="site-header navbar">
    <div class="content max-width">
      <a href="{% url 'index' %}">
        <img class="logo" src="{% static "assets/logos.png" %}" alt="class in logo">
      </a>
  
      <nav>
        <ul class="navbar">
          {% if user.is_authenticated %}
          <li>
            <a href="#">학원찾기</a>
          </li>
          {% endif %}
          <li>
            <a href="#" >커뮤니티</a>
          </li>
          <li>
            <a href="#">고객센터</a>
          </li>
  
          
          
          {% if user.is_authenticated %}
          <li><a href="#">내 프로필</a></li>
          <li><a href="#"">로그아웃</a></li>
          {% else %}
          <li><a href="#">로그인</a></li>
          <li><a href="#">회원가입</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

{% endblock header %}

{% block footer %}
<footer class="site-footer">
  <div class="max-content-width content">
    <p>&copy; 2024 학원In Team prj. </p>
    <p>김현아 / 황의철 </p>
    <div class="family-site">
        <select name="family" id="family" >
            <option value="#" >문의 및 제안</option>
            <option value="#">****@gmail.com</option>
            <option value="#">wingsoul11@naver.com</option>
        </select>
    </div>
  </div>
</footer>
{% endblock footer %}
