{% extends 'base.html' %}

{% block title %} Question - List {% endblock %}


{% block content %}
<div class="container">
    <!-- Search form -->
    <form method="get" action="{% url 'cs:question_list' %}">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search for questions or answers..." name="q" value="{{ search_query }}">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </form>

    <h2>Question List</h2>
    {% if question_list %}
    <ul>
        {% for question in question_list %}
            <li>
                <a href="{% url 'cs:question_detail' question.id %}">{{ question.subject }}</a>
                {% if question.answers.count > 0 %}
                    <span class="text-success small mx-2">{{ question.answers.count }} 답변 완료</span>
                {% else %}
                    <span class="text-secondary small mx-2">답변 대기</span>
                {% endif %}
            </li>
            <li>
                {% if question.author %}
                    {{ question.author.username }}
                {% else %}
                    익명
                {% endif %}
            </li>
            <li>{{ question.created|date:"Y-m-d H:i" }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>질문이 없습니다.</p>
    {% endif %}

<!-- 페이징처리 시작 -->
<ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {% if question_list.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    <!-- 페이지리스트 -->
    {% for page_number in question_list.paginator.page_range %}
        {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
            {% if page_number == question_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {% if question_list.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>
<!-- 페이징처리 끝 -->

    <!-- 질문 등록하기 버튼 추가 시작 -->
    <div class="mb-3">
        <a href="{% url 'cs:question_create' %}" class="btn btn-primary">질문 등록하기</a>
    </div>
    <!-- 질문 등록하기 버튼 추가 끝 -->
</div>
{% endblock %}