:root{

    --max-width: 1100px;
    --site-footer: #bcb9b0;
    --site-footer-background: #2f2c28;
}


.max-width {
  max-width: var(--max-width);
  width: 100%;
}
.site-header.navbar {
  transition: background-color 0.3s ease-in-out;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
  
  .site-header.navbar.scrolled {
    background-color: white; /* 원하는 배경색으로 변경하세요. */
    border: 5px solid #fff;
  }
  
  .site-header .content,
  .site-footer .content {
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .site-header .content {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
  }
  
  .site-header .logo {
    width: 220px;
  }
  
  ul.navbar {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  ul.navbar li ~ li {
    margin-left: 65px;
  
  
  }
  
  ul.navbar li {
    font-size: 17px;
    letter-spacing: -0.26px;
  
  
  }
  
  ul.navbar .cp-avatar {
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
  

  body, a, a:hover {
    color: var(--text);
}
a {
    text-decoration: none;
}

/* footer */

.site-footer {
  color: var(--site-footer);
  background-color: var(--site-footer-background);
}

.site-footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 95px;
}

.site-header .content, .site-footer .content {
  margin: 0 auto;
  padding: 0 10px;
}